.classpath
.project
.settings
.trash
target
tomcat-home
${tomcat.repo.home}
${tomcat.share.home}
${tomcat.home}
*~
*.log
*.log.*
rebel.xml

/alfresco/sharepoint/build/
/alfresco/sharepoint/lib/
/alfresco/sharepoint/target/

alf_data_dev
*.sh

nbactions-*.xml
nb-configuration.xml

*.bat
old/

*.idea*
*.iml
